#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
#root .main-layout {
  height: 100%;
}
#root .main-layout .main-header {
  height: 46px;
}
#root .main-layout .main-content {
  height: 100%;
  padding: 0;
  background-color: #fff;
}
